@model IEnumerable<Esh.Models.Post_Details>;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null)
{

    @foreach (var obj in Model)
    {
<div class="card text-center">
    <div class="card-header">
        @obj.title
    </div>
    <div class="card-body">
        <p class="card-text">@obj.richtext</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
        @obj.uploadtime
    </div>
</div>
    }
}